{
  "openapi": "3.0.4",
  "info": {
    "title": "Zaptec API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.zaptec.com"
    }
  ],
  "paths": {
    "/api/chargehistory": {
      "get": {
        "tags": [
          "ChargeHistory"
        ],
        "summary": "Completed sessions (deprecated)",
        "description": "**Deprecated**: Use `GET /api/sessions/archived` instead.  \nThis endpoint is being phased out with the following timeline:  \n- From **2026-08-01**, closed sessions older than two years are no longer returned.  \n- From **2027-01-01**, closed sessions are removed / endpoint sunset.  \nRetrieves all completed charge sessions accessible by the current user, matching the provided filters.  \nDefault page size: 50. Max: 100.",
        "operationId": "api_chargehistory_get",
        "parameters": [
          {
            "name": "InstallationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "UserId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ChargerId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "From",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "To",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "GroupBy",
            "in": "query",
            "description": "0 = group by charger (default), 1 = group by calendar day, 2 = group by user.\n\n0 = Charger\n\n1 = Day\n\n2 = User",
            "schema": {
              "$ref": "#/components/schemas/AggregateGroup"
            }
          },
          {
            "name": "DetailLevel",
            "in": "query",
            "description": "Bitflag: 0 = session summary (default), 1 = include detailed session energy data.\n\n0 = Summary\n\n1 = EnergyDetails",
            "schema": {
              "$ref": "#/components/schemas/DetailLevelFlags"
            }
          },
          {
            "name": "SortProperty",
            "in": "query",
            "description": "Name of the property used to sort the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortDescending",
            "in": "query",
            "description": "Set to true to sort items in descending order.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "The page index to return, first page is 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeDisabled",
            "in": "query",
            "description": "If true, and your user has access, include disabled objects.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "description": "Get or set a list of item Id's that will be excluded from the result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "PageInfoOnly",
            "in": "query",
            "description": "Returns only information about pages and no data info.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListModelPagedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListModelPagedData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListModelPagedData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true,
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/chargehistory/installationreport": {
      "get": {
        "tags": [
          "ChargeHistory"
        ],
        "summary": "Usage report (deprecated)",
        "description": "**Deprecated**: Use the POST version instead.  \nRetrieves a usage report based on the provided filters (requires installation owner permissions).  \nGET requests are limited to a 2048-character URL length and may fail if exceeded.",
        "operationId": "api_chargehistory_installationreport_get",
        "parameters": [
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "InstallationId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "UserIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "ChargerIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "GroupBy",
            "in": "query",
            "description": "\n\n0 = User\n\n1 = Charger\n\n2 = ChargeCardName",
            "schema": {
              "$ref": "#/components/schemas/GroupByOptions"
            }
          },
          {
            "name": "ReportFormat",
            "in": "query",
            "description": "\n\n0 = Summary\n\n1 = Detailed",
            "schema": {
              "$ref": "#/components/schemas/ReportFormatOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true,
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      },
      "post": {
        "tags": [
          "ChargeHistory"
        ],
        "summary": "Usage report",
        "description": "Retrieves a usage report based on the provided filters (requires installation owner permissions).",
        "operationId": "api_chargehistory_installationreport_post",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationChargeHistoryModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTotalChargerReportModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTotalChargerReportModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomTotalChargerReportModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/chargers": {
      "get": {
        "tags": [
          "Charger"
        ],
        "summary": "Chargers",
        "description": "Retrieves all chargers accessible by the current user, matching the provided filters.  \nBy default, returns the first 50 items. Use `pageIndex` for pagination or adjust `pageSize` (max: 100).",
        "operationId": "api_chargers_get",
        "parameters": [
          {
            "name": "Roles",
            "in": "query",
            "description": "Return only charge points where current user has any of the provided user roles. Note\nthat this is a bit-flag and multiple roles can be provided.\n\n0 = None\n\n1 = User\n\n2 = Owner\n\n4 = Maintainer\n\n8 = Administrator\n\n15 = Any\n\n16 = Onboarding\n\n32 = DeviceAdministrator\n\n64 = PartnerAdministrator\n\n128 = Technical\n\n256 = InternalData",
            "schema": {
              "$ref": "#/components/schemas/UserRoles"
            }
          },
          {
            "name": "DeviceType",
            "in": "query",
            "description": "Return only charge points of the provided type.\n\n0 = Unknown\n\n1 = Smart\n\n2 = Portable\n\n3 = HomeApm\n\n4 = Apollo\n\n5 = OtherApm\n\n6 = GenericApm\n\n7 = HanApm\n\n8 = TicApm",
            "schema": {
              "$ref": "#/components/schemas/DeviceType"
            }
          },
          {
            "name": "InstallationType",
            "in": "query",
            "description": "Return only chargers installed in installations of this time.\n\n0 = Pro\n\n1 = Smart",
            "schema": {
              "$ref": "#/components/schemas/InstallationTypeCode"
            }
          },
          {
            "name": "InstallationId",
            "in": "query",
            "description": "Return only chargers in the specified installation.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "NameFilter",
            "in": "query",
            "description": "A filter used to filter items. The filter may be applied to multiple\nproperties depending on the object type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReturnIdNameOnly",
            "in": "query",
            "description": "If true objects are only returned with their basic properties like\nId and name.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SortProperty",
            "in": "query",
            "description": "Name of the property used to sort the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortDescending",
            "in": "query",
            "description": "Set to true to sort items in descending order.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "The page index to return, first page is 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeDisabled",
            "in": "query",
            "description": "If true, and your user has access, include disabled objects.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "description": "Get or set a list of item Id's that will be excluded from the result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "PageInfoOnly",
            "in": "query",
            "description": "Returns only information about pages and no data info.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModelPagedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModelPagedData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModelPagedData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/chargers/{id}": {
      "get": {
        "tags": [
          "Charger"
        ],
        "summary": "Charger details",
        "description": "Retrieves the specified charger (requires owner or service permissions).",
        "operationId": "api_chargers_{id}_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charger ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "includeServiceLevelTechnicalReadAccess",
            "in": "query",
            "description": "Include Zaptec.ZapCloud.WebAPI.Models.ChargerListModel.CurrentUserHasServiceLevelTechnicalReadAccess:\nwhether the current user is entitled to TechnicalRead (debug-log) access on this charger,\ngranted through a user group that carries the TechnicalRead service-level entitlement and\nhas an effective Owner permission on the charger (including inherited and wildcard targets).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargerListModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/chargers/{id}/update": {
      "post": {
        "tags": [
          "Charger"
        ],
        "summary": "Update charger",
        "description": "Updates charger properties (requires owner or service permissions).  \n\n\n<b>Charge Current Settings:</b>\n\nThe `maxChargeCurrent` and `minChargeCurrent` properties should generally not be used. These are intended for special cases where an external party must override the Zaptec load balancer, which may cause unexpected behavior.\n\n\nIt is recommended to control the charging system using the installation’s `AvailableCurrent` setting instead.\n\n<b>Offline Current/Phase Override:</b>\n\nUse only when charging stations must not automatically optimize offline current or phases.\n\n\n- Set `OfflineChargeCurrent` to `-1` to enable automatic allocation.\n\n- Any value between `0` and `32` overrides the automatic setting. `null` is ignored.\n\n- Set `OfflineChargePhase` to `0 (Phases.None)` to enable automatic allocation.\n\n- Any other valid value will override the automatic setting.\n\n\nEnsure that the total of all overridden values in an installation does not exceed the fuse limit.\n\n<b>Meter Value Interval:</b>\n\nControls how often periodic energy data is reported.\n\n\nThe recommended default is `30 minutes`. Setting this to `0` disables periodic reporting, affecting both session data and signed meter values.",
        "operationId": "api_chargers_{id}_update_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charger ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Charger properties to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargerExternalUpdateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/chargers/{id}/state": {
      "get": {
        "tags": [
          "Charger"
        ],
        "summary": "Charger state",
        "description": "Retrieves the current state properties (observations) for the specified charger  \n(requires owner or service permissions).\n\n\nState IDs may vary by charger model.  \nCurrent-generation ZapCharger Smart supports <b>Observations</b> from  \n<a href=\"/api/constants\" target=\"_blank\">api/constants</a>\n",
        "operationId": "api_chargers_{id}_state_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Charger ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargerStateModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargerStateModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ChargerStateModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/chargers/{id}/sendCommand/{commandId}": {
      "post": {
        "tags": [
          "Charger"
        ],
        "summary": "Send charger command",
        "description": "<b>Permissions:</b> Requires owner or service-level access.\n\n<b>Supported Command IDs:</b>\n\n            - <b>102</b> – Restart the charger\n\n            - <b>200</b> – Upgrade charger firmware\n\n            - <b>506</b> – Stop or pause charging\n\n            - <b>507</b> – Resume charging\n\n            - <b>10001</b> – Deauthorize and stop charging\n\n<b>Command 10001 – Deauthorize and Stop:</b>\n\n            The caller must ensure that no new charging sessions are authorized until the command is completed.\n\n<b>Command 506 – Pause/Stop Charging:</b>\n\n                - Requires firmware version > 3.2 on PRO chargers\n\n                - Typical usage: For chargers in active charging mode (state <b>ChargeOperationMode, 710</b> = 3). Other edge cases are supported,\n            but this is the most common scenario.\n\n                - The command will be rejected if the charger is already paused (state <b>ChargeOperationMode, 710</b> = 5 and <b>FinalStopActive, 718</b> = 1)\n                or disconnected (state <b>ChargeOperationMode, 710</b> = 1)\n<b>Commands 507 – Resume Charging:</b>\n\n                - Requires firmware version > 3.2 on PRO chargers\n\n                - Typical usage: For chargers in paused state (state <b>ChargeOperationMode, 710</b> = 5 and <b>FinalStopActive, 718</b> = 1).\n            Other edge cases are supported, but this is the most common scenario.\n\n            - The command will be rejected if the charger is not in paused mode (state <b>ChargeOperationMode, 710</b> = 5 and <b>FinalStopActive, 718</b> = 1)\n\n                neither Scheduler is active (state <b>NextScheduleEvent, 763</b> is set)\n",
        "operationId": "api_chargers_{id}_sendcommand_{commandid}_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the charger.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "commandId",
            "in": "path",
            "description": "The ID of the command to execute.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/chargerFirmware/installation/{installationId}": {
      "get": {
        "tags": [
          "ChargerFirmware"
        ],
        "summary": "Firmware details",
        "description": "Retrieves firmware details for all chargers in the specified installation  \n(requires owner or service permissions).",
        "operationId": "api_chargerfirmware_installation_{installationid}_get",
        "parameters": [
          {
            "name": "installationId",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstallationChargerFirmwareModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstallationChargerFirmwareModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstallationChargerFirmwareModel"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/constants": {
      "get": {
        "tags": [
          "Constants"
        ],
        "summary": "Static Constants",
        "description": "Retrieves a set of predefined constants that rarely change but may be updated occasionally.  \nThese constants include schemas, enumerations, supported languages, country data,  \ncharger operation modes, network types, user roles, error codes, settings, and more.\n\n\nThis data provides system-wide reference values, reducing the need for frequent queries.",
        "operationId": "api_constants_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/installation": {
      "get": {
        "tags": [
          "Installation"
        ],
        "summary": "Installations",
        "description": "Retrieves all installations accessible by the current user, matching the provided filters.\n\n\nBy default, returns the first 50 items. Use <b>pageIndex</b> for pagination or adjust <b>pageSize</b> (max: 100).",
        "operationId": "api_installation_get",
        "parameters": [
          {
            "name": "Roles",
            "in": "query",
            "description": "Return only installations where current user has any of the provided user roles. Note\nthat this is a bit-flag and multiple roles can be provided.\n\n0 = None\n\n1 = User\n\n2 = Owner\n\n4 = Maintainer\n\n8 = Administrator\n\n15 = Any\n\n16 = Onboarding\n\n32 = DeviceAdministrator\n\n64 = PartnerAdministrator\n\n128 = Technical\n\n256 = InternalData",
            "schema": {
              "$ref": "#/components/schemas/UserRoles"
            }
          },
          {
            "name": "InstallationType",
            "in": "query",
            "description": "Return only installations of the provided type.\n\n0 = Pro\n\n1 = Smart",
            "schema": {
              "$ref": "#/components/schemas/InstallationTypeCode"
            }
          },
          {
            "name": "ExcludeIfVisibleForUserGroupLookupKey",
            "in": "query",
            "description": "Excludes installations that is visible for the user group identified by lookup key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "NameFilter",
            "in": "query",
            "description": "A filter used to filter items. The filter may be applied to multiple\nproperties depending on the object type.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ReturnIdNameOnly",
            "in": "query",
            "description": "If true objects are only returned with their basic properties like\nId and name.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "SortProperty",
            "in": "query",
            "description": "Name of the property used to sort the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SortDescending",
            "in": "query",
            "description": "Set to true to sort items in descending order.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Number of items to return per page.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "description": "The page index to return, first page is 0.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeDisabled",
            "in": "query",
            "description": "If true, and your user has access, include disabled objects.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "description": "Get or set a list of item Id's that will be excluded from the result.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "PageInfoOnly",
            "in": "query",
            "description": "Returns only information about pages and no data info.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModelPagedData"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModelPagedData"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModelPagedData"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/installation/{id}": {
      "get": {
        "tags": [
          "Installation"
        ],
        "summary": "Installation details",
        "description": "Retrieves details for the specified installation.  \nThe level of detail available depends on the current user's permissions.",
        "operationId": "api_installation_{id}_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "DetailLevel",
            "in": "query",
            "description": "0 = no extra details (default), 1 = include list of users that are present in the installation's charge history, 2 = include user group information associated with the installation.\n\n0 = Default\n\n1 = UserDetails\n\n2 = UserGroups",
            "schema": {
              "$ref": "#/components/schemas/InstallationDetailLevelFlags"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/installation/{id}/messagingConnectionDetails": {
      "get": {
        "tags": [
          "Installation"
        ],
        "summary": "Messaging connection (deprecated)",
        "description": "Retrieves connection details for subscribing to live AMQP 1.0 charger events  \nfor the specified installation (requires owner or service permissions).\n\n<b>WARNING:</b> This feature is <b>deprecated</b>.  \nUse a single <b>User Group</b> subscription to receive updates for all installations instead.",
        "operationId": "api_installation_{id}_messagingconnectiondetails_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true,
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/installation/{id}/update": {
      "post": {
        "tags": [
          "Installation"
        ],
        "summary": "Update installation",
        "description": "Updates installation properties (requires owner or service permissions).\n\n<b>Available Current:</b> Provide <b>either</b><i>AvailableCurrent</i>  \nor (<i>AvailableCurrentPhase1, AvailableCurrentPhase2, AvailableCurrentPhase3</i>).\n\n\nUpdating available current will instantly trigger phase and load balancing for the installation.  \nVehicles will adjust their charging settings within <b>5 seconds</b>.  \n\n\n<b>Usage Recommendations:</b>\n\n- Do not update this setting more than once every <b>15 minutes</b> to prevent charging interruptions.\n\n- Available current is limited to the installation’s configured maximum current (circuit breaker current).\n\n- If set to <b>null</b> (not provided), the installation will revert to its maximum current setting.\n",
        "operationId": "api_installation_{id}_update_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Installation properties to update",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/InstallationExternalUpdateModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/installation/{id}/hierarchy": {
      "get": {
        "tags": [
          "Installation"
        ],
        "summary": "Installation hierarchy",
        "description": "Retrieves an installation along with its circuit and charger hierarchy  \n(requires owner or service permissions).\n\n<b>Note:</b> Only basic properties of the returned model will be populated.",
        "operationId": "api_installation_{id}_hierarchy_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Installation ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationTreeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationTreeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallationTreeModel"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/sessions/archived": {
      "get": {
        "tags": [
          "Session"
        ],
        "summary": "Archived sessions",
        "description": "Retrieves completed charge sessions accessible by the current user, filtered by date range and exactly one of: an installation, a single charger, or an authorized user (the calling user's own id; support may pass any user's id). Results are returned in cursor-paginated pages in the requested `order` (oldest first by default); when `hasMore` is true, send the returned `cursor` as `?cursor=` on the next request to fetch the next page. Default page size: 50. Max: 200.",
        "operationId": "api_sessions_archived_get",
        "parameters": [
          {
            "name": "From",
            "in": "query",
            "description": "Inclusive lower bound for session end time. Required.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "To",
            "in": "query",
            "description": "Exclusive upper bound for session end time. Required, must be after `from`.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "InstallationId",
            "in": "query",
            "description": "Installation to list sessions for. Requires owner role on the installation.\nExactly one of `installationId`, `chargerId` or `authorizedUserId` is required.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ChargerId",
            "in": "query",
            "description": "Single charger to list sessions for. Requires owner role on the charger.\nExactly one of `installationId`, `chargerId` or `authorizedUserId` is required.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "AuthorizedUserId",
            "in": "query",
            "description": "User whose sessions to list. Must be the id of the calling user, unless the caller\nhas an Administrator permission covering that user (support access).\nExactly one of `installationId`, `chargerId` or `authorizedUserId` is required.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "description": "Page size. Default 50, max 200.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Order",
            "in": "query",
            "description": "Sort order, by the time the session was recognized by the archive.\nDefaults to RecognizedTimeAscending (oldest first).\n\n0 = RecognizedTimeAscending\n\n1 = RecognizedTimeDescending",
            "schema": {
              "$ref": "#/components/schemas/ArchivedSessionOrder"
            },
            "x-enumNames": [
              "RecognizedTimeAscending",
              "RecognizedTimeDescending"
            ]
          },
          {
            "name": "Cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `cursor` field. Omit to start from the first page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArchivedSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/session/{id}": {
      "get": {
        "tags": [
          "Session"
        ],
        "summary": "Session details",
        "description": "Retrieves details for the specified charging session.",
        "operationId": "api_session_{id}_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionEndData"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/session/{id}/priority": {
      "post": {
        "tags": [
          "Session"
        ],
        "summary": "Set session priority",
        "description": "Assigns priority to a charging session (requires owner or service permissions).\n\n\nPrioritized sessions are allocated before unprioritized ones and will receive\nat least the prioritized current.\n\n<b>Important considerations:</b>\n\n- Multiple sessions can be prioritized; the caller must ensure enough available current.\n\n- If there is insufficient current, prioritized sessions are allocated on a first-come, first-served basis.\n\n- After allocating prioritized sessions, any remaining current is distributed among unprioritized sessions.\n",
        "operationId": "api_session_{id}_priority_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Session ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "description": "Priority level for the session",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ChargePriority"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    },
    "/api/userGroups/{id}/messagingConnectionDetails": {
      "get": {
        "tags": [
          "UserGroup"
        ],
        "summary": "Messaging connection",
        "description": "Retrieves connection details for subscribing to live AMQP 1.0 charger events  \nfor installations within the specified user group (requires owner or service permissions).\n\n\nFor more details on working with AMQP and Service Bus, refer to the  \n<a href=\"https://learn.microsoft.com/en-us/azure/service-bus-messaging/\" target=\"_blank\">\nMicrosoft Azure Service Bus documentation</a>.",
        "operationId": "api_usergroups_{id}_messagingconnectiondetails_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User Group ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionDescriptor"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "ory_auth": [ ]
          },
          {
            "legacy_auth": [ ]
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AggregateGroup": {
        "enum": [
          0,
          1,
          2
        ],
        "type": "integer",
        "description": "0 = group by charger (default), 1 = group by calendar day, 2 = group by user.\n\n0 = Charger\n\n1 = Day\n\n2 = User",
        "format": "int32",
        "x-enumNames": [
          "Charger",
          "Day",
          "User"
        ]
      },
      "ArchivedSession": {
        "required": [
          "id",
          "startDateTime"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique session identifier.",
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "description": "External identifier for the session when authorized by a third party\n(e.g. `transactionId` from OCPP). Null when not externally authorized.",
            "nullable": true
          },
          "replacedBySessionId": {
            "type": "string",
            "description": "If this session was superseded by a corrected one, the id of the replacement.\nReplaced sessions have no duration or energy and are marked as `voided`.",
            "format": "uuid",
            "nullable": true
          },
          "authorizedUser": {
            "$ref": "#/components/schemas/ArchivedSessionUser"
          },
          "tokenName": {
            "type": "string",
            "description": "The RFID token used to authorize the session, when applicable.",
            "nullable": true
          },
          "chargerId": {
            "type": "string",
            "description": "The charge point unique identifier.",
            "format": "uuid"
          },
          "deviceId": {
            "type": "string",
            "description": "The charge point device id.",
            "nullable": true
          },
          "deviceName": {
            "type": "string",
            "description": "The charge point serial number / display name.",
            "nullable": true
          },
          "chargerFirmwareVersion": {
            "type": "string",
            "description": "Charger firmware version at the time the session was recorded. Null for legacy\nsessions recorded before firmware version was tracked.",
            "nullable": true
          },
          "chargerDeviceType": {
            "type": "integer",
            "description": "The charge point device type (`Zaptec.ZapCloud.Core.DeviceType`).",
            "format": "int32"
          },
          "installationId": {
            "type": "string",
            "description": "The installation the charger belonged to when the session was recorded.",
            "format": "uuid",
            "nullable": true
          },
          "installationName": {
            "type": "string",
            "description": "The installation's display name. Null when the installation no longer exists.",
            "nullable": true
          },
          "startDateTime": {
            "type": "string",
            "description": "Session start time. Time of session authorization. Usually corresponds within\na few seconds to the connection time, but can be delayed if the user does not\nauthorize immediately.",
            "format": "date-time"
          },
          "endDateTime": {
            "type": "string",
            "description": "The actual end time of the session, as recorded by the archive.",
            "format": "date-time",
            "nullable": true
          },
          "recognizedDateTime": {
            "type": "string",
            "description": "Time the session was recognized and finalized by the archive.",
            "format": "date-time"
          },
          "offline": {
            "type": "boolean",
            "description": "True if the session was recorded while the charger was offline."
          },
          "reliableClock": {
            "type": "boolean",
            "description": "True if the charger's clock was trusted at the time of recording. Relevant\nfor offline sessions where start/end timestamps may otherwise be unreliable."
          },
          "stoppedByRfid": {
            "type": "boolean",
            "description": "True if the session was stopped by presenting an RFID token."
          },
          "signed": {
            "type": "boolean",
            "description": "True if the session has an OCMF signed payload (see `sessionSignature`)."
          },
          "voided": {
            "type": "boolean",
            "description": "True if the session was voided after creation, typically because it was\nreplaced by a corrected session (see `replacedBySessionId`). Voided\nsessions have no meaningful duration or energy."
          },
          "aborted": {
            "type": "boolean",
            "description": "True if the session was aborted (e.g. cable unplugged before charging started)."
          },
          "ocppNative": {
            "type": "boolean",
            "description": "True if the session was driven by native OCPP authorization on the charger."
          },
          "externallyAbandoned": {
            "type": "boolean",
            "description": "True if an externally-authorized session was never acknowledged by the third party."
          },
          "sessionSignature": {
            "type": "string",
            "description": "OCMF signed session payload for supported charging stations.",
            "nullable": true
          },
          "sessionSignatureEichreicht": {
            "type": "string",
            "description": "OCMF signed session payload in compliance with the German Eichrecht regulations.",
            "nullable": true
          },
          "energy": {
            "type": "number",
            "description": "Energy delivered during the session, in kWh.",
            "format": "double"
          },
          "energyDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArchivedSessionEnergyPoint"
            },
            "description": "Per-timestamp energy readings captured during the session. Empty when the\narchive has no detailed readings for this session.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "A single completed (archived) charge session."
      },
      "ArchivedSessionEnergyPoint": {
        "required": [
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "Time of the reading.",
            "format": "date-time"
          },
          "energy": {
            "type": "number",
            "description": "Cumulative energy delivered up to `timestamp`, in kWh.",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "description": "A single energy reading captured at a point in time during an archived session."
      },
      "ArchivedSessionOrder": {
        "enum": [
          0,
          1
        ],
        "type": "integer",
        "description": "Sort order for archived sessions, by the time the session was recognized\nand finalized by the archive (see `recognizedDateTime`).\n\n0 = RecognizedTimeAscending\n\n1 = RecognizedTimeDescending",
        "format": "int32",
        "x-enumNames": [
          "RecognizedTimeAscending",
          "RecognizedTimeDescending"
        ]
      },
      "ArchivedSessionUser": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique user identifier.",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "description": "User email.",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "description": "User full name.",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "description": "Identity of a user attached to an `ArchivedSession`."
      },
      "ChargePriority": {
        "type": "object",
        "properties": {
          "prioritizedPhases": {
            "$ref": "#/components/schemas/MaxPhase"
          },
          "prioritizedCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerExternalUpdateModel": {
        "type": "object",
        "properties": {
          "maxChargeCurrent": {
            "type": "number",
            "description": "Adjustable between 0 and 32A. If charge current is below the charger minimum charge\ncurrent (usually 6A), no charge current will be allocated.",
            "format": "double",
            "nullable": true
          },
          "maxChargePhases": {
            "$ref": "#/components/schemas/MaxPhase"
          },
          "minChargeCurrent": {
            "type": "number",
            "description": "The minimum allocated charge current. If there is not enough current available to\nprovide the chargers minimum current it will not be able to charge. Usually set to\nmatch the vehicle minimum current for charging (defaults to 6A).",
            "format": "double",
            "nullable": true
          },
          "offlineChargeCurrent": {
            "type": "number",
            "description": "Adjustable between 0 and 32A. If offline charge current is below the charger minimum charge\ncurrent (usually 6A), no charge current will be allocated when offline.\nOffline current override should only be done in special cases where charging \nstations should not automatically optimize offline current. In most cases \nthis setting should be set to -1 to allow ZapCloud to optimise offline current.\nIf -1, offline current will be automatically allocated.",
            "format": "double",
            "nullable": true
          },
          "offlineChargePhase": {
            "$ref": "#/components/schemas/Phases"
          },
          "meterValueInterval": {
            "type": "integer",
            "description": "The interval in seconds for a charger to report meter values.\nDefaults to 900 seconds for Pro and 3600 seconds for Go",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerListModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Get the unique identifier of the charge point.",
            "format": "uuid"
          },
          "mid": {
            "type": "string",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\n            please use `DeviceId` instead.",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "deviceId": {
            "type": "string",
            "description": "Get the deviceId (serialNo) of the charging stations used with the charge point.",
            "nullable": true
          },
          "serialNo": {
            "type": "string",
            "description": "<strong>This property is obsolete and is scheduled for removal,</strong>\n            please use `Name` instead.",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "name": {
            "type": "string",
            "description": "Get the name of the charge point.",
            "nullable": true
          },
          "createdOnDate": {
            "type": "string",
            "description": "Get the date and time the installation was created.",
            "format": "date-time",
            "nullable": true
          },
          "circuitId": {
            "type": "string",
            "description": "Get the unique identifier the charge point is installed in.",
            "format": "uuid",
            "nullable": true
          },
          "active": {
            "type": "boolean",
            "description": "Get a value indicating whether the charge point is active.",
            "nullable": true
          },
          "currentUserRoles": {
            "$ref": "#/components/schemas/UserRoles"
          },
          "pin": {
            "type": "string",
            "description": "Get the charger PIN code. This will only be provided if your user is system owner\nfor the charge point.",
            "nullable": true
          },
          "templateId": {
            "type": "string",
            "description": "Get the unique identifier of the chargers firmware template.",
            "format": "uuid",
            "nullable": true
          },
          "propertyOcppUrl": {
            "type": "string",
            "nullable": true
          },
          "propertyOcppPassword": {
            "type": "string",
            "nullable": true
          },
          "propertyPinOfflinePhase": {
            "type": "boolean",
            "nullable": true
          },
          "propertyAuthenticationDisabled": {
            "type": "boolean",
            "nullable": true
          },
          "hasSessions": {
            "type": "boolean",
            "nullable": true
          },
          "propertyOfflinePhaseOverride": {
            "$ref": "#/components/schemas/Phases"
          },
          "propertyOfflineCurrentOverride": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyOcppVerboseLogUntil": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "propertyOcppDefaultIdTag": {
            "type": "string",
            "nullable": true
          },
          "propertyOcppWebSocketPingInterval": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyPrioritizedCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyPrioritizedPhases": {
            "$ref": "#/components/schemas/MaxPhase"
          },
          "propertyMaxSinglePhaseChargeCurrent": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "propertyOcppAvailability": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "propertyOcppOfflineListVersion": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "signedMeterValueKwh": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "signedMeterValue": {
            "type": "string",
            "nullable": true
          },
          "signedSessionEichrecht": {
            "type": "string",
            "nullable": true
          },
          "deviceType": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "installationName": {
            "type": "string",
            "nullable": true
          },
          "installationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "authenticationType": {
            "$ref": "#/components/schemas/InstallationAuthenticationType"
          },
          "isAuthorizationRequired": {
            "type": "boolean",
            "nullable": true
          },
          "currentUserHasServiceLevelTechnicalReadAccess": {
            "type": "boolean",
            "description": "Service-level entitlement flag (not a regular role/permission): `true` when the current\nuser is entitled to TechnicalRead (debug-log) access on this charger. The entitlement is granted\nthrough a user group that carries the Zaptec.ZapCloud.Domain.Models.ServiceLevel.TechnicalRead service level and\nhas an effective Owner permission on the charger (including inherited and wildcard targets).\nUsed by the frontend to decide whether to surface relevant UI.\n`null` unless explicitly requested (opt-in).",
            "nullable": true
          },
          "operatingMode": {
            "$ref": "#/components/schemas/ChargerOperatingMode"
          },
          "isOnline": {
            "type": "boolean"
          },
          "warnings": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerListModelPagedData": {
        "type": "object",
        "properties": {
          "pages": {
            "type": "integer",
            "format": "int32"
          },
          "totalCount": {
            "type": "integer",
            "description": "Total number of rows across all pages.",
            "format": "int32"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChargerListModel"
            },
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChargerOperatingMode": {
        "enum": [
          0,
          1,
          2,
          3,
          5
        ],
        "type": "integer",
        "description": "\n\n0 = Unknown\n\n1 = Disconnected\n\n2 = Connected_Requesting\n\n3 = Connected_Charging\n\n5 = Connected_Finished",
        "format": "int32",
        "x-enumNames": [
          "Unknown",
          "Disconnected",
          "Connected_Requesting",
          "Connected_Charging",
          "Connected_Finished"
        ]
      },
      "ChargerStateModel": {
        "type": "object",
        "properties": {
          "chargerId": {
            "type": "string",
            "format": "uuid"
          },
          "stateId": {
            "type": "integer",
            "format": "int32"
          },
          "stateName": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "valueAsString": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CommandId": {
        "enum": [
          0,
          1,
          2,
          102,
          103,
          104,
          105,
          106,
          107,
          108,
          109,
          200,
          201,
          260,
          261,
          262,
          300,
          320,
          321,
          322,
          323,
          324,
          501,
          502,
          503,
          504,
          505,
          506,
          507,
          601,
          602,
          603,
          700,
          708,
          750,
          751,
          752,
          800,
          801,
          802,
          803,
          804,
          805,
          901,
          902,
          950,
          951,
          10000,
          10001,
          10999
        ],
        "type": "integer",
        "description": "\n\n0 = Unknown\n\n1 = InChargePingReply\n\n2 = OfflineModeOverride\n\n102 = RestartCharger\n\n103 = RestartMcu\n\n104 = UpdateSettings\n\n105 = RestartNtp\n\n106 = ExitAppWithCode\n\n107 = RestartApplication\n\n108 = ReprovisionIotHub\n\n109 = ReprovisionDps\n\n200 = UpgradeFirmware\n\n201 = UpgradeFirmwareForced\n\n260 = ResetComErrors\n\n261 = ResetNotifications\n\n262 = ResetComWarnings\n\n300 = LocalSettings\n\n320 = SetPlcNpw\n\n321 = SetPlcCCoMode\n\n322 = SetPlcNmk\n\n323 = SetRemotePlcNmk\n\n324 = SetRemotePlcNpw\n\n501 = StartCharging\n\n502 = StopCharging\n\n503 = ReportChargingState\n\n504 = SetSessionId\n\n505 = SetUserUuid\n\n506 = StopChargingFinal\n\n507 = ResumeCharging\n\n601 = ShowGranted\n\n602 = ShowDenied\n\n603 = IndicateAppConnect\n\n700 = RequestSignedMIDEventLog\n\n708 = UnlockConnector\n\n750 = ConfirmChargeCardAdded\n\n751 = SetAuthenticationList\n\n752 = OcppTunnelMessage\n\n800 = Debug\n\n801 = GetPlcTopology\n\n802 = ResetPlc\n\n803 = RemoteCommand\n\n804 = RunGridTest\n\n805 = ClearObservationCache\n\n901 = RunPostProductionTest\n\n902 = GetFirmwareVersion\n\n950 = DumpPilotCounter\n\n951 = RunPilotTest\n\n10000 = CombinedMin\n\n10001 = DeauthorizeAndStop\n\n10999 = CombinedMax",
        "format": "int32",
        "x-enumNames": [
          "Unknown",
          "InChargePingReply",
          "OfflineModeOverride",
          "RestartCharger",
          "RestartMcu",
          "UpdateSettings",
          "RestartNtp",
          "ExitAppWithCode",
          "RestartApplication",
          "ReprovisionIotHub",
          "ReprovisionDps",
          "UpgradeFirmware",
          "UpgradeFirmwareForced",
          "ResetComErrors",
          "ResetNotifications",
          "ResetComWarnings",
          "LocalSettings",
          "SetPlcNpw",
          "SetPlcCCoMode",
          "SetPlcNmk",
          "SetRemotePlcNmk",
          "SetRemotePlcNpw",
          "StartCharging",
          "StopCharging",
          "ReportChargingState",
          "SetSessionId",
          "SetUserUuid",
          "StopChargingFinal",
          "ResumeCharging",
          "ShowGranted",
          "ShowDenied",
          "IndicateAppConnect",
          "RequestSignedMIDEventLog",
          "UnlockConnector",
          "ConfirmChargeCardAdded",
          "SetAuthenticationList",
          "OcppTunnelMessage",
          "Debug",
          "GetPlcTopology",
          "ResetPlc",
          "RemoteCommand",
          "RunGridTest",
          "ClearObservationCache",
          "RunPostProductionTest",
          "GetFirmwareVersion",
          "DumpPilotCounter",
          "RunPilotTest",
          "CombinedMin",
          "DeauthorizeAndStop",
          "CombinedMax"
        ]
      },
      "CommitMetadata": {
        "enum": [
          0,
          1,
          2,
          4,
          8,
          16,
          32,
          64,
          128
        ],
        "type": "integer",
        "description": "\n\n0 = None\n\n1 = Online\n\n2 = Offline\n\n4 = ReliableClock\n\n8 = StoppedByRFID\n\n16 = Signed\n\n32 = Void\n\n64 = Aborted\n\n128 = OcppNative",
        "format": "int32",
        "x-enumNames": [
          "None",
          "Online",
          "Offline",
          "ReliableClock",
          "StoppedByRFID",
          "Signed",
          "Void",
          "Aborted",
          "OcppNative"
        ],
        "x-enumFlags": true
      },
      "ConnectionDescriptor": {
        "type": "object",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/ConnectionType"
          },
          "host": {
            "type": "string",
            "nullable": true
          },
          "port": {
            "type": "integer",
            "format": "int32"
          },
          "useSSL": {
            "type": "boolean"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "password": {
            "type": "string",
            "nullable": true
          },
          "topic": {
            "type": "string",
            "nullable": true
          },
          "subscription": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ConnectionType": {
        "enum": [
          0
        ],
        "type": "integer",
        "description": "\n\n0 = Amqp10",
        "format": "int32",
        "x-enumNames": [
          "Amqp10"
        ]
      },
      "ConstantsModel": {
        "type": "object",
        "properties": {
          "languages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LanguageModel"
            },
            "description": "Key value list of languages supported in portal",
            "nullable": true
          },
          "countries": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/CountryModel"
            },
            "description": "List of supported countries with country information",
            "nullable": true
          },
          "installationCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InstallationCategoryModel"
            },
            "description": "Key value list of installation categories",
            "nullable": true
          },
          "installationTypes": {
            "type": "object",
            "properties": {
              "Pro": {
                "$ref": "#/components/schemas/InstallationTypeConstantModel"
              },
              "Smart": {
                "$ref": "#/components/schemas/InstallationTypeConstantModel"
              }
            },
            "additionalProperties": false,
            "description": "List of installation types with information",
            "nullable": true
          },
          "userRoles": {
            "type": "object",
            "properties": {
              "None": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "User": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "Owner": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "Maintainer": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "Administrator": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "Any": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "Onboarding": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "DeviceAdministrator": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "PartnerAdministrator": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "Technical": {
                "$ref": "#/components/schemas/UserRoles"
              },
              "InternalData": {
                "$ref": "#/components/schemas/UserRoles"
              }
            },
            "additionalProperties": false,
            "description": "List of user roles with role ID",
            "nullable": true
          },
          "networkTypes": {
            "type": "object",
            "properties": {
              "Unknown": {
                "$ref": "#/components/schemas/NetworkType"
              },
              "IT_1_Phase": {
                "$ref": "#/components/schemas/NetworkType"
              },
              "IT_3_Phase": {
                "$ref": "#/components/schemas/NetworkType"
              },
              "TN_1_Phase": {
                "$ref": "#/components/schemas/NetworkType"
              },
              "TN_3_Phase": {
                "$ref": "#/components/schemas/NetworkType"
              }
            },
            "additionalProperties": false,
            "description": "Electrical network types (Phase and system type)",
            "nullable": true
          },
          "chargerOperationModes": {
            "type": "object",
            "properties": {
              "Unknown": {
                "$ref": "#/components/schemas/ChargerOperatingMode"
              },
              "Disconnected": {
                "$ref": "#/components/schemas/ChargerOperatingMode"
              },
              "Connected_Requesting": {
                "$ref": "#/components/schemas/ChargerOperatingMode"
              },
              "Connected_Charging": {
                "$ref": "#/components/schemas/ChargerOperatingMode"
              },
              "Connected_Finished": {
                "$ref": "#/components/schemas/ChargerOperatingMode"
              }
            },
            "additionalProperties": false,
            "description": "List of charger operating modes",
            "nullable": true
          },
          "phases": {
            "type": "object",
            "properties": {
              "None": {
                "$ref": "#/components/schemas/Phases"
              },
              "Phase_1": {
                "$ref": "#/components/schemas/Phases"
              },
              "Phase_2": {
                "$ref": "#/components/schemas/Phases"
              },
              "Phase_3": {
                "$ref": "#/components/schemas/Phases"
              },
              "All": {
                "$ref": "#/components/schemas/Phases"
              }
            },
            "additionalProperties": false,
            "description": "Electrical phases",
            "nullable": true
          },
          "wildcardGuid": {
            "type": "string",
            "format": "uuid"
          },
          "regionalInfo": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/RegionalInfoModel"
            },
            "description": "List of region info",
            "nullable": true
          },
          "messageCodes": {
            "type": "object",
            "properties": {
              "Success": {
                "$ref": "#/components/schemas/MessageCode"
              },
              "Error": {
                "$ref": "#/components/schemas/MessageCode"
              },
              "Information": {
                "$ref": "#/components/schemas/MessageCode"
              },
              "Warning": {
                "$ref": "#/components/schemas/MessageCode"
              },
              "KnownErrors": {
                "$ref": "#/components/schemas/MessageCode"
              },
              "UnknownObject": {
                "$ref": "#/components/schemas/MessageCode"
              }
            },
            "additionalProperties": false,
            "description": "List of codes indicating eg. info, error, ..",
            "nullable": true
          },
          "errorCodes": {
            "type": "object",
            "properties": {
              "Unknown": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "MissingRequiredData": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnknownSetting": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "OperationFailedForUnknownReasons": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "NotApplicableForUser": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnknownUser": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "RfidTokenInUse": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "SignUpTooManyRequests": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "EmailInUse": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "CellPhoneInUse": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnknownObject": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "InvalidPassword": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "IncorrectPassword": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UserActivationLinkExpired": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "LinkRequestExpired": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "ChargerDeviceIdExists": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnknownDeviceId": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnknownCommand": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "ErrorCommunicatingWithDevice": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "StringIsNotAWellFormedVersion": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "FirmwareVersionExists": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "FirmwareFileExists": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "CreateConflict": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "DeviceFirmwareNotConfigured": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "FeatureNotEnabled": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "NotSupported": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "DeviceCommandRejected": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "InvalidFormat": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "MailSendFailed": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "ConcurrencyError": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "ConfigurationError": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "Forbidden": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "InstallationTypeViolation": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "PaymentFailed": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "PaymentAuthorizationRequired": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "OperationFailedActiveSubscriptions": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "OperationFailedDueToChargerState": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "InstallationConstraintViolation": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnknownInstallationId": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnknownEnergySensorId": {
                "$ref": "#/components/schemas/ErrorCode"
              },
              "UnauthorizedToPerformOcppNativeChanges": {
                "$ref": "#/components/schemas/ErrorCode"
              }
            },
            "additionalProperties": false,
            "description": "List of codes used in Zaptec.ZapCloud.Infrastructure.AspNetCore.Models.Error response object",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "properties": {
              "AuthenticationRequired": {
                "$ref": "#/components/schemas/SettingId"
              },
              "PaymentActive": {
                "$ref": "#/components/schemas/SettingId"
              },
              "PaymentCurrency": {
                "$ref": "#/components/schemas/SettingId"
              },
              "PaymentSessionUnitPrice": {
                "$ref": "#/components/schemas/SettingId"
              },
              "PaymentEnergyUnitPrice": {
                "$ref": "#/components/schemas/SettingId"
              },
              "PaymentTimeUnitPrice": {
                "$ref": "#/components/schemas/SettingId"
              },
              "CommunicationMode": {
                "$ref": "#/components/schemas/SettingId"
              },
              "PermanentCableLock": {
                "$ref": "#/components/schemas/SettingId"
              },
              "HmiBrightness": {
                "$ref": "#/components/schemas/SettingId"
              },
              "LockCableWhenConnected": {
                "$ref": "#/components/schemas/SettingId"
              },
              "SoftStartDisabled": {
                "$ref": "#/components/schemas/SettingId"
              },
              "MIDBlinkEnabled": {
                "$ref": "#/components/schemas/SettingId"
              },
              "CurrentInMaximum": {
                "$ref": "#/components/schemas/SettingId"
              },
              "CurrentInMinimum": {
                "$ref": "#/components/schemas/SettingId"
              },
              "MaxPhases": {
                "$ref": "#/components/schemas/SettingId"
              },
              "DefaultOfflinePhase": {
                "$ref": "#/components/schemas/SettingId"
              },
              "DefaultOfflineCurrent": {
                "$ref": "#/components/schemas/SettingId"
              },
              "SignedMeterValueInterval": {
                "$ref": "#/components/schemas/SettingId"
              },
              "IsEnabled": {
                "$ref": "#/components/schemas/SettingId"
              },
              "Standalone": {
                "$ref": "#/components/schemas/SettingId"
              },
              "NetworkType": {
                "$ref": "#/components/schemas/SettingId"
              },
              "AuthorizationTimeout": {
                "$ref": "#/components/schemas/SettingId"
              },
              "TariffText": {
                "$ref": "#/components/schemas/SettingId"
              },
              "EnabledNfcTechnologies": {
                "$ref": "#/components/schemas/SettingId"
              },
              "LteRoamingDisabled": {
                "$ref": "#/components/schemas/SettingId"
              },
              "InstallationId": {
                "$ref": "#/components/schemas/SettingId"
              },
              "RoutingId": {
                "$ref": "#/components/schemas/SettingId"
              },
              "ChargePointName": {
                "$ref": "#/components/schemas/SettingId"
              },
              "DiagnosticsMode": {
                "$ref": "#/components/schemas/SettingId"
              },
              "DisableBLEChargePointName": {
                "$ref": "#/components/schemas/SettingId"
              },
              "InternalDiagnosticsLog": {
                "$ref": "#/components/schemas/SettingId"
              },
              "UnconditionalNfcDetectionIndication": {
                "$ref": "#/components/schemas/SettingId"
              },
              "EnableLteDetailedSignalStrength": {
                "$ref": "#/components/schemas/SettingId"
              },
              "EnableLocalNetworkMaintenance": {
                "$ref": "#/components/schemas/SettingId"
              },
              "SessionController": {
                "$ref": "#/components/schemas/SettingId"
              },
              "OcppNativeUrl": {
                "$ref": "#/components/schemas/SettingId"
              },
              "OcppNativeCbId": {
                "$ref": "#/components/schemas/SettingId"
              },
              "OcppNativeZaptecLoadBalancingEnabled": {
                "$ref": "#/components/schemas/SettingId"
              },
              "OcppNativeOnePhaseChargingPhase": {
                "$ref": "#/components/schemas/SettingId"
              }
            },
            "additionalProperties": false,
            "description": "Smart device Settings",
            "nullable": true,
            "deprecated": true
          },
          "commands": {
            "type": "object",
            "properties": {
              "Unknown": {
                "$ref": "#/components/schemas/CommandId"
              },
              "InChargePingReply": {
                "$ref": "#/components/schemas/CommandId"
              },
              "OfflineModeOverride": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RestartCharger": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RestartMcu": {
                "$ref": "#/components/schemas/CommandId"
              },
              "UpdateSettings": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RestartNtp": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ExitAppWithCode": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RestartApplication": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ReprovisionIotHub": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ReprovisionDps": {
                "$ref": "#/components/schemas/CommandId"
              },
              "UpgradeFirmware": {
                "$ref": "#/components/schemas/CommandId"
              },
              "UpgradeFirmwareForced": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ResetComErrors": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ResetNotifications": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ResetComWarnings": {
                "$ref": "#/components/schemas/CommandId"
              },
              "LocalSettings": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetPlcNpw": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetPlcCCoMode": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetPlcNmk": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetRemotePlcNmk": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetRemotePlcNpw": {
                "$ref": "#/components/schemas/CommandId"
              },
              "StartCharging": {
                "$ref": "#/components/schemas/CommandId"
              },
              "StopCharging": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ReportChargingState": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetSessionId": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetUserUuid": {
                "$ref": "#/components/schemas/CommandId"
              },
              "StopChargingFinal": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ResumeCharging": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ShowGranted": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ShowDenied": {
                "$ref": "#/components/schemas/CommandId"
              },
              "IndicateAppConnect": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RequestSignedMIDEventLog": {
                "$ref": "#/components/schemas/CommandId"
              },
              "UnlockConnector": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ConfirmChargeCardAdded": {
                "$ref": "#/components/schemas/CommandId"
              },
              "SetAuthenticationList": {
                "$ref": "#/components/schemas/CommandId"
              },
              "OcppTunnelMessage": {
                "$ref": "#/components/schemas/CommandId"
              },
              "Debug": {
                "$ref": "#/components/schemas/CommandId"
              },
              "GetPlcTopology": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ResetPlc": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RemoteCommand": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RunGridTest": {
                "$ref": "#/components/schemas/CommandId"
              },
              "ClearObservationCache": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RunPostProductionTest": {
                "$ref": "#/components/schemas/CommandId"
              },
              "GetFirmwareVersion": {
                "$ref": "#/components/schemas/CommandId"
              },
              "DumpPilotCounter": {
                "$ref": "#/components/schemas/CommandId"
              },
              "RunPilotTest": {
                "$ref": "#/components/schemas/CommandId"
              },
              "CombinedMin": {
                "$ref": "#/components/schemas/CommandId"
              },
              "DeauthorizeAndStop": {
                "$ref": "#/components/schemas/CommandId"
              },
              "CombinedMax": {
                "$ref": "#/components/schemas/CommandId"
              }
            },
            "additionalProperties": false,
            "description": "Smart device Commands",
            "nullable": true,
            "deprecated": true
          },
          "observations": {
            "type": "object",
            "properties": {
              "Unknown": {
                "$ref": "#/components/schemas/ObservationId"
              },
              "OfflineMode": {
                "$ref": "#/components/schemas/ObservationId"
              },
              "Capabilities": {
                "$ref": "#/components/schemas/ObservationId"
              },
              "ProductName": {
                "$ref": "#/components/schemas/ObservationId"
              },
[...]
